body {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  border: 0;
}

h2,h3,h4,h4,h5.p {
  padding: 0;
  color: seashell;
}

/*header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin: 0 auto;
}

.logo {
  display: flex;
  padding-left: 10px;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  text-decoration: underline;
  color: seashell;
}

nav {
  align-items: center;
}

nav span {
  display: inline-flex;
  align-content: flex-end;
  text-decoration: underline;
  padding: 20px 10px;
}

/* Main Content Container */

/* Mission Section */

.main-content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 69px;
}

#mission {
  display: flex;
  align-items: center;
  background-image: url("images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.text-bar {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: seashell;
  background-color: black;
  width: 100%;
}


/* Featured Tea Section */

.featured {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.featured img {
  height: 200px;
  padding: 5px;
  margin-bottom: 40px;
}

/* Locations Section */

#locations {
 background-image: url("images/img-locations-background.jpg");
 height: 500px;
 paddding-top: 70px;
}

#locations h2 {
  justify-content: center;
}

.locations-container {
  display: flex;
/*  align-items: center;*/
  justify-content: center;
  width: 1200px;
  margin: auto;
}

.location-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 280px;
  background-color: black;
  color: seashell;
  /*height: 300px;
  width: 300px;*/
  margin: 5px 20px;
  border: 1px solid seashell;
  opacity: 1.0;
  padding: 10px;
}

/* Footer Section */

.contact {
  display: flex;
  flex-direction: column;
  height: 200px;
  color: seashell;
  margin: 0 auto ;
}

footer {
  display: block;
  text-align: left;
  margin: 10px;

}
